.actualites {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  flex-wrap: wrap;
  .rec-arrow:hover,
  .rec-arrow:focus {
    background: #d5d5d5 !important;
    color: white;
  }
  .rec-carousel-wrapper {
    max-width: 1600px;
    margin: auto;
  }

  .Actualites-contant {
    display: flex !important;
    width: 450px !important;
    height: 510px;
    flex-direction: column !important;
    margin-bottom: 30px;
    margin: 20px !important;
    .card-img {
      pointer-events: none;
      cursor: pointer;
    }
    .card-title:hover {
      -webkit-text-decoration-line: underline; /* Safari */
      text-decoration-line: underline;
    }
    .info {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 90%;
      bottom: 1%;
      color: #4a4848;
      a {
        text-decoration: none;
        color: #232d49;
      }
      a:hover {
        color: #bb2431;
      }
    }
    .card-body {
      display: flex;
      flex-direction: column;
    }
    .card-text {
      color: #4a4848;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.subtitle {
  width: 100%;
  margin-top: 30px;
  h3 {
    color: #bc2431;
    text-align: center;
    margin-left: 10%;
    font-size: 35px;
    padding-bottom: 22px;
    svg {
      width: 30px;
      transform: translateY(-35%);
    }
  }
}
