.references {
  width: 100%;
  // background-image: url('./../../assets/img/batiment_infrastructure@3x.png');
  // background-position: right;
  // background-repeat: no-repeat;
  // background-size: cover;
  overflow: hidden;
  .ref_01 {
    width: 100%;
    height: 400px;
    background: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    border-radius: 28px;
    position: relative;
  }
  .images {
    display: flex;
    flex-direction: column;

    h2 {
      color: var(--clr-second);
      width: 70%;
      padding: 23px 4% !important;
      font-size: 40px;
      svg {
        width: 30px;
        transform: translateY(-35%);
      }
    }
    .rec-arrow:hover,
    .rec-arrow:focus {
      background: #d5d5d5 !important;
      color: white;
      z-index: 10;
    }
    .hHJTFD {
      overflow: visible !important ;
    }
    .rec-carousel-wrapper {
      max-width: 80%;
      margin: auto;
    }
    .rec-carousel-item {
      transform: skewX(10deg);
      margin: 10px;
    }
    .rec-carousel-item-hidden {
      img {
        transition-duration: 0.5s;
      }

      transition-duration: 0.5s;
      opacity: 0;
      z-index: 0;
    }

    .rec-carousel-item-next {
      transform: translateX(-62%) skewX(10deg) scale(0.8) !important;
      opacity: 0.5;
      z-index: 0;
    }
    .rec-carousel-item-prev {
      opacity: 0.5;
      z-index: 0;
      transform: translateX(62%) skewX(10deg) scale(0.8) !important;
    }
    .rec-arrow {
      z-index: 10;
      background: #d5d5d5 !important;
      color: white;
    }
    .rec-carousel-item-visible {
      position: relative;

      z-index: 10;

      transition-duration: 0.5s;
      img {
      }
    }
    .rec-item-wrapper {
    }
    img {
      width: 350px !important;
      height: 315px;
      pointer-events: none;
    }
  }
  .references-contant {
    background-image: url('./../../assets/img/batiment_infrastructure@3x.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .title {
      margin-bottom: 17px;
      h3 {
        color: var(--clr-second);
        font-size: 40px;
        svg {
          width: 30px;
          transform: translateY(-35%);
        }
      }
      h4 {
        font-size: 27px;
        color: #26304e;
      }
    }
    p {
      color: #615e5e;
      font-size: 23px;
      width: 50%;
    }
  }
}
@media screen and (max-width: 914px) {
  .references {
    .images {
      .hHJTFD {
        overflow: hidden !important ;
      }
    }
    .references-contant {
      display: flex;
      flex-direction: column;

      width: 78%;
    }
    h2 {
      display: flex;
      justify-content: center;
      color: var(--clr-second);
      width: 70%;
      font-size: 40px;
    }
  }
}
@media screen and (max-width: 638px) {
  .references {
    .images {
      .rec-carousel-item-hidden {
        img {
          width: 550px !important;
          transition-duration: 0.5s;
        }
      }
      img {
        width: 350px;
      }
      .reférence_b {
        .adress {
          margin-left: 140px;
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .references {
    .rec-arrow {
      display: none;
    }
    .references-contant {
      margin-top: 40px;
    }
  }
}
// @media screen and (min-width: 450px) {
//   .references {
//     .images {
//       h2 {
//         font-size: 37px !important;
//         padding: 19px;
//       }
//       .reférence_b {
//         .adress {
//           align-items: center;
//         }
//       }
//     }
//     .references-contant {
//       p {
//         font-size: 18px;
//       }
//       .title {
//         h3 {
//           font-size: 33px;
//         }
//         h4 {
//           font-size: 19px;
//           text-align: center;
//           margin: 12px;
//         }
//       }
//     }
//   }
// }
@media screen and (max-width: 450px) {
  .references {
    .images {
      h2 {
        font-size: 37px !important;
        padding: 19px;
      }
      .reférence_b {
        .adress {
          align-items: center;
        }
      }
    }
    .references-contant {
      p {
        font-size: 18px;
      }
      .title {
        h3 {
          font-size: 37px;
        }
        h4 {
          font-size: 19px;
          text-align: center;
          margin: 12px;
        }
      }
    }
  }
}
