.domaine {
  display: flex !important;
  width: 350px !important;
  height: 550px;
  position: relative;
  flex-direction: column !important;
  box-shadow: 14px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
  border-radius: 15px !important;
  margin-bottom: 30px;
  height: 639px;
  .card-body {
    display: flex;
    flex-direction: column;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .card-img {
    pointer-events: none;
  }
  .card-text {
    color: #4a4848;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    li {
      margin: 9px 0;
      list-style: circle;
    }
  }
}

.all_carousel {
  margin-bottom: 50px;
  .rec-arrow:hover,
  .rec-arrow:focus {
    background: #d5d5d5 !important;
    color: white;
  }
  .rec-carousel-wrapper {
    max-width: 1400px;
    margin: auto;
  }

  .title {
    h2 {
      display: flex;
      color: #bc2431;
      text-align: center;
      margin-left: 13%;
      height: 150px;

      font-size: 35px;
      padding-bottom: 22px;
    }
    .svg {
      svg {
        margin-bottom: 60px !important;
      }
    }
    svg {
      width: 40px;
      margin: 40px 5px 0 0;
    }
  }
}

@media screen and (max-width: 1012px) {
  .all_carousel {
    .rec-carousel-wrapper {
      max-width: 589px;
      margin: auto;
    }
    .title {
      h2 {
        margin: 0 10%;
      }
    }
  }
}
@media screen and (max-width: 638px) {
  .all_carousel {
    .title {
      h2 {
        width: 341px;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .domaine {
    width: 260px !important;
    height: 542px;
    button {
      width: 170px;
    }
  }
  .all_carousel {
    .title {
      display: flex;
      justify-content: flex-start;
      h2 {
        font-size: 20px;
        margin: 0;
      }
    }
    .rec-arrow {
      display: none;
    }
  }
}
@media screen and (max-width: 400px) {
  .domaine {
    width: 195px !important;
    height: 447px;
    .card-text {
      font-size: 12px;
    }
    button {
      font-size: 10px;
      width: 100px;
    }
  }
}
// .rec-arrow:disabled,
// .rec-arrow[disabled] {
//   display: none;
// }
