.rec-carousel-item {
  display: flex;
  svg {
    width: 250px;
  }
}
.partner {
  margin-top: 35px;
}
.partner-item {
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
