.navbar {
  padding: 0 !important;

  .container-fluid {
    padding: 0 !important;
  }
}

.header-nav {
  width: 100%;
  justify-content: center;
  background-color: #1c2c4e;
  align-items: center;
  height: 80px;
  display: flex;

  a {
    font-size: 17px;
    text-decoration: none;
    margin: 5px;
    color: #ffffff;
    padding: 9px 18px;
    text-align: center;
  }
  a:hover {
    color: #d7d7d7;
    transition-duration: 0.5s;
  }

  .responsive {
    display: none;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    img {
      width: 124px;
    }
    svg {
      color: white;
      font-size: 40px;
      cursor: pointer;
    }
  }
  .active {
    background: #ffffff36;
    border-radius: 37px;
  }
}

.container-fluid {
  background-color: #1c2c4e;
}

.header-top {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 1100px;
  margin: auto;
  // .background::after {
  //   content: '';
  //   background-image: url('../../assets/img/background.jpg');
  // }
  .contact {
    display: flex;
    .contact-icon {
      display: flex;
      flex-direction: row;
      margin: 12px;
      align-items: center;
      p {
        margin-left: 10px;
      }
    }

    .social {
      img {
        margin: 0 5px;
      }
      .search {
        width: 32px;
      }
    }
  }
  .logo-original {
    width: 160px;
  }
}

.sidebar-items {
  display: flex;
  flex-direction: column;

  a {
    font-size: 17px;
    text-decoration: none;
    margin: 5px;
    color: #ffffff;
    padding: 9px 18px;
    text-align: center;
  }
  a:hover {
    color: #d7d7d7;
    transition-duration: 0.5s;
  }
  .active {
    background: #ffffff36;
    border-radius: 37px;
  }
}

@media screen and (max-width: 1000px) {
  .header-nav a {
    padding: 9px 13px;
  }
}
@media screen and (max-width: 900px) {
  .navbar-items {
    display: none;
  }
  .header-top {
    display: none;
  }
  .responsive {
    display: flex !important;
  }
  .logo-original {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  .responsive {
    padding: 30px !important;
  }
}
