footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #232d49;
  bottom: 0;
  height: 400px;
  position: relative;
  justify-content: center;
  padding: 0 50;

  .footer-1 {
    position: relative;
    z-index: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      max-width: 600px;
      margin-left: auto;
      img {
        margin-bottom: 10px;
        width: 124px;
      }
      p {
        color: #afafaf;
        font-size: 19px;
      }
    }
  }
  .links {
    width: 20%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    .link {
      margin-top: 12px;
      a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #afafaf;
        margin: 12px;
        font-size: 19px;
        font-family: sans-serif;
      }
      a:hover {
        color: #bb2431;
      }
    }

    h4 {
      color: white;
    }
  }
  .contact {
    position: relative;
    z-index: 1;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 58px;
    h4 {
      color: white;
    }
    .contact_1 {
      display: flex;
      flex-direction: column;
      width: 300px;
      //margin-top: 80px;
      align-items: flex-start;
      input {
        width: 100%;
        background: white;
        color: grey;
        border: none;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 10px;
      }
      button {
        width: 100%;
      }
    }
  }
}
footer::after {
  content: '';
  background-image: url('../../assets/img/architectural_background_footer.png');
  z-index: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
